
/* Common styles for all views */
.countSection-1{
    font-family: 'Inter', sans-serif;
    position: relative;
    display: grid;
    height: auto; /* Allow the height to adjust based on content */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.OurAcheiventContaineer{
    font-family: 'Montserrat';
    font-style: normal;
   color: white;
    background-clip: text;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 35px;

}


#OurAcheiventTitle{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;  
}
#OurAcheiventDescrition{
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 50px;  
}
@keyframes rotateBorder {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
 
.countSectionH1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 180px;
    height: 180px;
    background: rgb(129, 118, 175);
    background: linear-gradient(90deg, rgba(129, 118, 175, 1) 13%, rgba(192, 183, 232, 1) 77%);
    color: white;
    font-size: 35px;
    letter-spacing: 0em;
    line-height: 1.2;
    border-radius: 50%;
    border: #0D0D0D 12px solid ;
}
.number{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 60px;


color: #343045;
}

.countSectionH1 span.plus {
    color: #ffffff;
    /* #FF3000 color for "+" */
}

.countSectionH1 span.cities {
    display: block;
    text-align: center;
    margin-top: 2px;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
}