

/* Rectangle 6 */
.Contactus-MainBody{
    display: flex;
    justify-content: center;
    z-index: +99;
 
}
.rectangle-6-main {
    width: 98%;
   
    height: 167px;
    background: radial-gradient(
      50% 2900.76% at 50% 53.89%, 
      rgba(58, 52, 86, 0.95) 0%, 
      #211E2E 100%
    );
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
    border-radius: 90px;
    margin-left: auto;
    margin-right: auto;
    
 
  }
  
  .text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
  .location-icon{
    margin-left: 40px;
  gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .call-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .mail-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
 
  .pay-visit {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  
  .contact-info {
   
    height: 17px;
    font-size: 14px;
  }
  .call-us {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    left: 661px;
    top: 848px;
  }
 
  .email-address {
    font-size: 14px;
  }
  .mail-icon{
    margin-right: 30px;
  }
    .send-message {
    font-weight: 700;
    font-size: 24px;
      }
    .outline-shape {
    position: absolute;
    border: 6px solid #C0B7E8;
  }

  #Contact-us-Svgs:hover {
    /* Add vibration effect */
    animation: vibration 0.3s ease infinite;
    /* Add zoom in effect */
    transform: scale(1.1);
  }
  
  @keyframes vibration {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(2px);
    }
  }
  

  /* ======= MINI CONTACTUS SECTION====== */
 

  .rectangle-mini {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    color: #FFFFFF;
  
    height: 109px;
    gap: 10%;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
    border-radius: 90px;
}

/* Union St, Seattle, WA 98101, United States */
.address {
    width: 180px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-right: 40px;
}

#Svg-Location {
    margin-left: 40px;
}

.address-Title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;


}
.Contact-Details{
padding-top: 10px;
padding-bottom: 10px;
}



@media screen and (max-width:768px) {
    .carousel {
        margin-left: auto;
        margin-right: auto;
    }

    .Main-mini-contactus {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rectangle-mini {
      width: 98%;
        height: 109px;
        background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
        box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
        border-radius: 90px;
    }

}

@media screen and (min-width: 769px) {

    /* Hide the carousel and adjust other styles as needed */
    .carousel {
        display: none;
    }
}








  

  /* ======= MINI CONTACTUS SECTION====== */




  @media screen and (max-width:768px) {
    .Contactus-MainBody{
      display: none;
  } 
    .rectangle-6-main {
        display: none;
    }

    .rectangle-6 {
        width: 100%;
        height: 120px;
        background: radial-gradient(
          50% 2900.76% at 50% 53.89%, 
          rgba(58, 52, 86, 0.95) 0%, 
          #211E2E 100%
        );
        box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
        border-radius: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
     
      }
      .location-icon{
        margin-left: 10px;
      
        display: flex;
        justify-content: center;
        align-items: center;
      }
   

    
    
  }